<li [ngClass]="{'list-group-item my-2': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <h3>{{ title }}</h3>
      </div>
      <div class="col-4 text-right">
        <h5><em>{{ createdAt | date: 'short' | uppercase }}</em></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-justify">{{ content }}</p>
        <p>
          <button class="btn btn-primary m-2" (click)="onClickLoveIt()">Love it!</button>
          <button class="btn btn-danger m-2" (click)="onClickDontLoveIt()">Don't love it!</button>
          <strong [ngClass]="{'ml-3': true,
                              'text-success': loveIts > 0,
                              'text-danger': loveIts < 0}">{{ loveIts }} love(s)</strong>
        </p>
      </div>
    </div>
  </div>
</li>
